body {
   margin:0px;
   font-family: 'Delicious Handrawn',cursive;
   background-image: url(./assets/FondoInicio1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 0px;
   overflow-x: hidden
   
 }
 
 code {
   font-family: 'Delicious Handrawn',cursive;
 }




 